.main{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  border-radius: 30px;
  margin: 5px;
}
.getinput{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: 1px  ;
  
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
form-control{
  padding: 10px;
  margin: 10px;
}
.result{
  border: 1px;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.ratio{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: 1px;
  
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.Converted{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: 1px;
  
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}